/* pc version*/
.pc_body {
    background-image: url("/images/img-background.png");
    background-size: cover; /* 화면에 꽉 채우기 */
    background-position: center; /* 중앙 정렬 */
    background-repeat: no-repeat; /* 반복 안 함 */
    height: 100vh; /* 페이지 높이 */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: auto;
    scrollbar-width: none; */
}

.pc_scroll {
    overflow: hidden;
}

.pc_container {
    display: flex;
    justify-content: space-between; /* 양쪽 정렬 */
    gap: 0px; /* 두 div 사이 간격 */
}

.pc_left {
    width: 800px;
    padding: 0px;
    text-align: center;
}

.pc_right {
    width: 393px;
    padding: 0px;
    text-align: center;
    background-color:#FFFFFF;
    border-radius: 30px;
    border: 0;
}

.pc_img {
    vertical-align: middle;
    border-style: none;
}

.pc_background {
    border-radius: 30px;
    border: 0;
}

/* mobile body*/
.body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
  
/* header */
.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.lan_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--line);
    background-color: var(--white);
    border-radius: 10px;
    font-size: 1.6rem;
    width: 18rem;
    height: 4rem;
    align-content: center;
    padding: 0 1.5rem;
}
  
  /* main {
    width: 100%;
    background-color: var(--white);
  } */
.main_inner {
    padding: 100px 20px 117px;
}
.lef_chat {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 2rem;
}
.lef_chat_tit {
    display: flex;
    align-items: center;
    gap: 5px;
}
.lef_chat_tit_txt {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.lef_chat_tit_txt h2 {
    font-size: 1.6rem;
    font-weight: 800;
}
.lef_chat_tit_txt p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #828282;
}
.lef_chat_con {
    width: 95%;
    background-color: var(--gray-bg);
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
}
.lef_chat_con img {
    width: 100%;
}
.rig_chat {
    display: flex;
    justify-content: right;
    margin-bottom: 2rem;
}
.rig_chat span {
    background-color: var(--main);
    border-radius: 10px;
    padding: 1rem;
    max-width: 80%;
    color: var(--white);
    font-size: 1.4rem;
}
.youtube_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}
.youtube_wrap img {
    width: 100%;
}

.youtube_a {
    width: 40%;
}

.youtube_p {
    width: 60%;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.youtube_image_container {
    width: 116.8px; 
    height: 64.34px;
}
  
.youtube_image_fit {
    width: 100%;
    height: 100%;
}
  
/* footer */
.footer_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}
.using_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.using_txt p {
    color: var(--line);
    font-size: 1.2rem;
    font-weight: 500;
}
.chat_con {
    position: relative;
    width: 100%;
}
.chat_con input {
    width: 100%;
    font-size: 1.4rem;
  
    background-color: var(--gray-bg);
    padding: 1.8rem 2rem;
    border-radius: 50px;
    align-content: center;
    outline: none;
    border: none;
}
.chat_con input::placeholder {
    color: var(--gray-text);
}
.chat_con img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    cursor: pointer;
}
  
/* modal */
.modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    z-index: 999;
}
.modal_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.show {
    display: block;
}
.modal_evt {
    display: block;
    transition: all 0.2s;
}
.modal_evt .modal_wrap {
    opacity: 1;
    transition: all 0.2s;
}
.modal_evt .modal_wrap .modal_content {
    opacity: 1;
    transition: all 0.2s;
}
.modal_wrap .modal_content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--white);
    border-radius: 30px 30px 0 0;
    border: 1px solid var(--line);
    padding: 20px;
    height: 90%;
}
.modal_tit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}
.modal_tit h1 {
    font-size: 1.8rem;
    font-weight: 700;
}
.modal_tit img {
    cursor: pointer;
}
.lang_con {
    margin-bottom: 2.5rem;
    max-height: calc(95% - 107px);
    overflow-y: auto;
}
.lang_tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.lang_tab > li {
    width: 31%;
    border-radius: 10px;
    background-color: var(--white);
    border: 1px solid var(--gray-text);
    font-size: 1.4rem;
    font-weight: 500;
    height: 5.5rem;
    align-content: center;
    text-align: center;
}
.lang_tab > li.on {
    border: none;
    background-color: var(--main);
    color: var(--white);
    font-weight: 800;
}
.lang_tab > li.dis {
    background-color: var(--disabled-bg);
    border: 1px solid var(--disabled-text);
    color: var(--line);
}
.lang_tab > li > span {
    display: block;
    font-size: 1.2rem;
}
.modal_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.modal_btn button {
    width: 100%;
    border-radius: 50px;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.6rem;
    font-weight: 500;
}
.ok_btn {
    background-color: var(--main);
    color: var(--white);
}
.setting_btn {
    background-color: var(--white);
    border: 1px solid var(--black);
}

.mb15 {
    margin-bottom: 1.5rem;
}